/* Подключаем шрифты из Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,600;1,400&family=Montserrat:wght@400;600&display=swap');

:root {
  --color-bg: #FFFDF9;
  --color-gold: #D4AF37;
  --color-pink: #E0218A;
  --color-text-main: #222;
  --color-text-muted: #888;
  --color-text-light: #b0b0b0;
  
  /* Теперь эти переменные будут работать */
  --font-serif: 'Cormorant Garamond', serif;
  --font-sans: 'Montserrat', sans-serif;
}